Zadanie/Service References/UploadService/Upload.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://appulate" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://appulate" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://appulate/Imports">
      <xsd:import schemaLocation="https://appulatebeta.com/Upload.svc?xsd=xsd0" namespace="http://appulate" />
      <xsd:import schemaLocation="https://appulatebeta.com/Upload.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://appulatebeta.com/Upload.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Appulate.DocumentUpload.Service.DataContracts" />
      <xsd:import schemaLocation="https://appulatebeta.com/Upload.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Appulate.Domain.Entities" />
      <xsd:import schemaLocation="https://appulatebeta.com/Upload.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Appulate.DocumentUpload.Service.Response" />
      <xsd:import schemaLocation="https://appulatebeta.com/Upload.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="https://appulatebeta.com/Upload.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Appulate.Uplink.Service.DocumentUpload.Impl" />
      <xsd:import schemaLocation="https://appulatebeta.com/Upload.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Appulate.Uplink.Service.DocumentUpload.Impl.BootstrapperLog" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUploadService_Upload_InputMessage">
    <wsdl:part name="parameters" element="tns:Upload" />
  </wsdl:message>
  <wsdl:message name="IUploadService_Upload_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadResponse" />
  </wsdl:message>
  <wsdl:message name="UploadStreamRequest">
    <wsdl:part name="parameters" element="tns:UploadStreamRequest" />
  </wsdl:message>
  <wsdl:message name="UploadStreamRequest_Headers">
    <wsdl:part name="Credentials" element="tns:Credentials" />
    <wsdl:part name="Options" element="tns:Options" />
  </wsdl:message>
  <wsdl:message name="UploadStreamResponse">
    <wsdl:part name="parameters" element="tns:UploadStreamResponse" />
  </wsdl:message>
  <wsdl:message name="UploadStreamResponse_Headers">
    <wsdl:part name="Message" element="tns:Message" />
    <wsdl:part name="Url" element="tns:Url" />
  </wsdl:message>
  <wsdl:message name="IUploadService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IUploadService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IUploadService_SetupDriver_InputMessage">
    <wsdl:part name="parameters" element="tns:SetupDriver" />
  </wsdl:message>
  <wsdl:message name="IUploadService_SetupDriver_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetupDriverResponse" />
  </wsdl:message>
  <wsdl:message name="IUploadService_UploadBootstrapperLog_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadBootstrapperLog" />
  </wsdl:message>
  <wsdl:message name="IUploadService_UploadBootstrapperLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadBootstrapperLogResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="IUploadService">
    <wsdl:operation name="Upload">
      <wsdl:input wsaw:Action="http://appulate/IUploadService/Upload" message="tns:IUploadService_Upload_InputMessage" />
      <wsdl:output wsaw:Action="http://appulate/IUploadService/UploadResponse" message="tns:IUploadService_Upload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadStream">
      <wsdl:input wsaw:Action="http://appulate/IUploadService/UploadStream" name="UploadStreamRequest" message="tns:UploadStreamRequest" />
      <wsdl:output wsaw:Action="http://appulate/IUploadService/UploadStreamResponse" name="UploadStreamResponse" message="tns:UploadStreamResponse" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://appulate/IUploadService/Authenticate" message="tns:IUploadService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://appulate/IUploadService/AuthenticateResponse" message="tns:IUploadService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetupDriver">
      <wsdl:input wsaw:Action="http://appulate/IUploadService/SetupDriver" message="tns:IUploadService_SetupDriver_InputMessage" />
      <wsdl:output wsaw:Action="http://appulate/IUploadService/SetupDriverResponse" message="tns:IUploadService_SetupDriver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadBootstrapperLog">
      <wsdl:input wsaw:Action="http://appulate/IUploadService/UploadBootstrapperLog" message="tns:IUploadService_UploadBootstrapperLog_InputMessage" />
      <wsdl:output wsaw:Action="http://appulate/IUploadService/UploadBootstrapperLogResponse" message="tns:IUploadService_UploadBootstrapperLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>