Zadanie/Service References/UploadService/Upload4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Appulate.DocumentUpload.Service.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Appulate.DocumentUpload.Service.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://appulatebeta.com/Upload.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Appulate.Domain.Entities" />
  <xs:complexType name="Credentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsHash" type="xs:boolean" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Credentials" nillable="true" type="tns:Credentials" />
  <xs:complexType name="UploadOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadOptions" nillable="true" type="tns:UploadOptions" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Appulate.Domain.Entities" minOccurs="0" name="Type" type="q1:ClientType" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="SetupDriverOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetupDriverOptions" nillable="true" type="tns:SetupDriverOptions" />
</xs:schema>